{% extends "e_waste_app/base.html" %}
{% load static %}
{% block title %}Confirm Mark as Unavailable{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Are you sure to mark {{ item.item_type }} as unavailable?</h5>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Confirm</button>
                <a href="{% url 'e_waste_app:view_my_items' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
