{% extends 'e_waste_app/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<form method="post" action = {% url 'e_waste_app:password_reset' %}>
    {% csrf_token %}
    <div class="container d-flex justify-content-start align-items-start vh-80 " style="margin: 10px;margin-top:70px;height:17rem">
     <div class="card" style="width: 28rem;">
         <div class="card-body">
             <h2 class="card-title text-start mb-4">Reset Password</h2>
            <div class="form-group">
                 {{ PasswordResetForm.email|as_crispy_field }}
            </div>
         </div>
         <button type="submit" class="btn btn-primary">Confirm</button>
     </div>

   </div>


</form>
{% endblock %}