{% extends 'e_waste_app/base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Item Details{% endblock %}
{% block content %}

<style>
    .detail-container {
        border-radius: 12px;
        border: 2px solid rgba(0,0,0,.125);
        margin: 20px auto;
        padding: 10px;
    }
</style>
<div class="container detail-container">
    <h2 class="my-4">{{ item.item_type }}</h2>
    <div class="row">
        <div class="col-md-6">
            {% if item.image %}
                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Default image">
            {% endif %}
        </div>
        <div class="col-md-6">
            <p><strong>Description:</strong> {{ item.description }}</p>
            <p class="badge badge-primary">{{ category_choices|get_item:item.category }}</p>
            <p class="badge badge-secondary">{{ condition_choices|get_item:item.condition }}</p>
            <p><strong>Posted At:</strong> {{ item.created_at }}</p>
            <p><strong>Posted by:</strong> {{ item.user.username }}</p>
            {% if not item.is_active %}
            	<p class="badge badge-danger">Unavailable</p>
            {% else %}
                {% if item.use_profile_contact %}
                    <p><strong>Address:</strong> {{ item.user.address }}, {{ item.user.city }} {{ item.user.postal_code }}</p>
                    <p><strong>Phone:</strong> {{ item.user.phone_number }}</p>
                {% else %}
                    <p><strong>Address:</strong> {{ item.address }}, {{ item.city }} {{ item.postal_code }}</p>
                    <p><strong>Phone:</strong> {{ item.phone_number }}</p>
                {% endif %}
            {% endif %}

        </div>
    </div>
            <a href="{% url 'e_waste_app:view_recycle_items' %}" class="btn btn-primary mt-4">Back to Search</a>
</div>
{% endblock %}
