{% extends 'e_waste_app/base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Search Recycling Requests{% endblock %}

{% block content %}
<style>
    .truncate-multiline {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        color: grey;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        color: black;
    }

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        flex: 1;
    }

    .icon-text {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .icon-text i {
        margin-right: 8px;
    }
</style>

<div class="container">
    <h5 class="my-4">Customize your search</h5>
    <form method="get">
        <div class="form-row align-items-top">
            <div class="col">
                {{ form.keyword|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.category|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.condition|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.location|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.sort_by|as_crispy_field }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
        </div>
    </form>
    <h2 class="my-4 text-center">Available Items</h2>
    <div class="row">
        {% for item in results %}
            <div class="col-md-4 my-4">
                <a href="{% url 'e_waste_app:recycle_item_detail' item.pk %}" class="text-decoration-none">
                    <div class="card">
                        {% if item.image %}
                            <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="Default image">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ item.item_type }}</h5>
                            <p class="card-text truncate-multiline">{{ item.description }}</p>
                            <span class="badge badge-primary">{{ category_choices|get_item:item.category }}</span>
                            <span class="badge badge-secondary">{{ condition_choices|get_item:item.condition }}</span>
                        </div>
                        <div class="card-footer">
                            <div class="badge-condition">
                                <div class="icon-text">
                                    <i class="fas fa-clock text-muted"></i><small class="text-muted">{{ item.created_at }}</small>
                                </div>
                                <div class="icon-text">
                                    <i class="bi bi-person-circle text-muted"></i><small class="text-muted">{{ item.user.username }}</small>
                                </div>
                                <div class="icon-text">
                                    <i class="fas fa-map-marker-alt text-muted"></i>
                                    {% if item.use_profile_contact %}
                                        <small class="text-muted">{{ item.user.address }}, {{ item.user.city }} {{ item.user.postal_code }}</small>
                                    {% else %}
                                        <small class="text-muted">{{ item.address }}, {{ item.city }} {{ item.postal_code }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="col-12">
                <p>No results found.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
