{% extends "e_waste_app/base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Search Recycling Requests{% endblock %}

{% block content %}
<style>
    .truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .item-card {
        width: 100%;
            display: flex !important;
            flex-direction: row;
        justify-content: flex-start;
            padding: 4px;
        margin-bottom: 20px;
        background-color: #f2f2f2;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        height: 270px;
        }

    .img_wrap {
        width: 35%;
    }

    .item-card-body {
        position: relative;
        width: 65%;
        padding: 20px;
    }
        .img_wrap img {
            width: 100%;
            height: 100%;
            margin-right: 20px;
            border-radius: 0.25rem;
            border: 1px solid rgba(0,0,0,.125);
            object-fit: cover;
        }

        .badge-condition {
            margin-top: 10px;
        }

            .icon-text {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .icon-text i {
        margin-right: 8px;
    }

        .card-buttons-wrap {
            position: absolute;
            right: 20px;
            bottom: 20px;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        .card-buttons-wrap button {
            margin-left: 10px;
        }


</style>

<div class="container">
    <h2 class="my-4 text-center">My Recycled Items</h2>

    <h3>Active</h3>
    <hr />
    {% for item in active_items %}
        <div class="item-card">
            <div class="img_wrap">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="Card image cap">
                {% else %}
                    <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Default image">
                {% endif %}
            </div>
            <div class="item-card-body">
                <h5 class="card-title">{{ item.item_type }}</h5>
                <p class="card-text truncate">{{ item.description }}</p>
                <span class="badge badge-primary">{{ category_choices|get_item:item.category }}</span>
                <span class="badge badge-secondary">{{ condition_choices|get_item:item.condition }}</span>
                <div class="badge-condition">
                    <div class="icon-text">
                        <i class="fas fa-clock text-muted"></i><small class="text-muted">{{  item.created_at }}</small>
                    </div>
                    <div class="icon-text">
                        <i class="fas fa-map-marker-alt text-muted"></i><small class="text-muted">{{ item.address }}, {{ item.city }} {{ item.postal_code }}</small>
                    </div>
                </div>
                <div class="card-buttons-wrap">
{#                    <button class="btn btn-primary">Edit</button>#}
                    <form action="{% url 'e_waste_app:mark_unavailable' item.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Mark as Unavailable</button>
                </form>
                <form action="{% url 'e_waste_app:delete_item' item.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                </div>
            </div>
        </div>
    {% empty %}
    <div class="col-12">
        <p>No past items found.</p>
    </div>
    {% endfor %}

<h3>Past Recycled</h3>
<hr/>
    {% for item in inactive_items %}
        <div class="item-card">
            <div class="img_wrap">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="Card image cap">
                {% else %}
                    <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="Default image">
                {% endif %}
            </div>
            <div class="item-card-body">
                <h5 class="card-title">{{ item.item_type }}</h5>
                <p class="card-text truncate">{{ item.description }}</p>
                <span class="badge badge-primary">{{ category_choices|get_item:item.category }}</span>
                <span class="badge badge-secondary">{{ condition_choices|get_item:item.condition }}</span>
                <div class="badge-condition">
                    <div class="icon-text">
                        <i class="fas fa-clock text-muted"></i><small class="text-muted">{{  item.created_at }}</small>
                    </div>
                    <div class="icon-text">
                        <i class="fas fa-map-marker-alt text-muted"></i><small class="text-muted">{{ item.address }}, {{ item.city }} {{ item.postal_code }}</small>
                    </div>
                </div>
                <div class="card-buttons-wrap">
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12">
            <p>No past items found.</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}